.btn {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.navbutton, .nav {
    font-size: 0.8rem;
    text-decoration: none;
}

.ontop {
    z-index: 10000000;
    position: fixed;
    left:15px;
    top: 30%;
}